<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Тестовое задание</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/lib/jquery-1.12.2.js"></script>
    <script src="js/lib/angular.js"></script>
    <script src="js/EmailsEditor.js"></script>
</head>

<body>
    
    <div id="test">
        <!-- ********************* -->
        <div ng-app="EmailModule" ng-controller="EmailController">
            <div id="emailContainer">
                <p>Share "Board name" with others</p>
                <emails-editor></emails-editor>
            </div>
            <div id="ButtonContainer">
                <button ng-click="addEmails()" class="myPrettyButton">Add random email</button>
                <button ng-click="getEmailsCount()" class="myPrettyButton">Get emails count</button>
                <div>
                </div>
                <!-- ********************* -->
            </div>
       </div>
    </div>

    <div id="example">
        <img src="img/etalon.jpg" title="Пример" />
    </div>

</body>
</html>


<br>
<br>



<br>
<ul>
    <li>http://jsfiddle.net/XtUdT/
    <li>https://habrahabr.ru/post/179755/
    <li>https://habrahabr.ru/post/180365/
    <li>https://habrahabr.ru/post/200620/
    <li>http://monsterlessons.com/project/categories/angularjs?page=4
</ul>
